body{
  background-color: #e5e5e5;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: lime;
}

ul{
  display: flex;
  justify-content: space-around;
}

li{
  display: inline-block;
}


.section + .section{
  padding-top: 15px;

}
#section_1{
  background-image: url("../images/1280x640_8.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1280px;
  min-height: 640px;
}
#section_2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#section_2 p{
  padding: 15px
}
#section_3{
    display: flex;
    justify-content: space-evenly;
  flex-wrap: wrap;
}
#section_3 div{
  display: flex;
  flex-direction: column;
  align-items: center;

}


#section_4{
width: 100%;
}

#section_4 img{
  width: 100%;
}



#section_5{
  background-image: url("../images/1280x640_11.jpg");
  height: 640px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}